@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather+Sans:wght@700&display=swap');

@import url('./vars.css');
@import url('./header.css');
@import url('./main.css');

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbar-hover);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Merriweather Sans', sans-serif;
  color: var(--color-white);

  background-color: var(--color-bg);
}
