::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track{
    background: #01091d;
}
::-webkit-scrollbar-thumb{
    background: #23245a;
    border-radius: 5px;
}
body
{
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    text-shadow: 2px 2px 4px #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.topleft
{
    flex: 2;
    margin: 15px 0 0 35px;
}
.bottomleft
{
    flex: 2;
    margin: 0 0 15px 35px;
}
.bottomleft p{
    align-self: flex-end;
}
.middle
{
    flex: 1;
    text-align: center;
    justify-content: center;
}
input
{
    width: 500px;
    padding: 12px 20px;
    font-size: 1rem;
    text-align: center;
    outline: transparent;
}
button 
{
  width: 115px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 1px 1px;
  border: 2px solid #fff;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
}
button:hover 
{
  box-shadow:
  -4px -4px 5px 0px #fff9,
  4px 4px 5px 0px #0001;
}
#output{
    background-color: rgba(255, 255, 255, 0.1);
    width: 544px;
    height: 300px;
    margin: 0;
    overflow-y: auto;
    word-wrap: break-word;
    font-size: 18px;
}
a{
    color: white;
}
@media (max-width: 600px)
{
    input
    {
        width: 200px;
    }
    #output{
        width: 244px;
        height: 250px;
    }
}