*{
	margin: 0;
	padding: 0;
}
body{
	background: url(../../images/bg.jpg);
}
img{
	float: left;
	width: 25%;
}
h2, p{
	float: left;
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin: auto;
}
p{
	font-size: 16px;
	text-align: left;
}
div{
	width: 1000px;
	margin: auto;
}
#goBack
{
	width: 150px;
	height: 30px;
	background-color: lightgrey;
	text-align: center;
	position:relative;
	top: 10px;
	margin: auto;
	border-radius: 50px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	font-size: 18pt;
	padding: 15px;

}
#goBack a
{
	text-decoration: none;
	color:black;
}
#goBack:hover
{
	background-color: lightblue;
}