@font-face {
	font-family: 'Travelling';
	src: url('../fonts/Travelling.eot?#iefix') format('embedded-opentype'), url('../fonts/Travelling.woff') format('woff'), url('../fonts/Travelling.ttf') format('truetype'), url('../fonts/Travelling.svg#Travelling') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{
	margin: 0px;
	padding: 0px;
}
body{
	background: url(../img/bg.jpg);
	font-family: "Comic Sans MS", serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
.content{
	width: 1000px;
	margin: auto;
	margin-top: 100px;
	margin-right: 100px;
}
span{
	font-family: 'Travelling' !important;
	font-size: 99px;
          margin: 0;
    color: white;
}
.logo{
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 2px;
	word-spacing: 1.8px;
}
.preview{
	width: 250px;
	height: 250px;
	overflow: hidden;
	padding: 10px;
	border-radius: 2px;
	background-color: rgba(255,255,255, 0.7);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	float: left;
	margin-left: 150px;
	margin-top: 50px;
}
.preview a{
	text-decoration: none;
	color: black;
}
#goBack
{
	width: 150px;
	height: 30px;
	background-color: white;
	text-align: center;
	position:relative;
	top: 10px;
	margin: auto;
	border-radius: 50px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	font-size: 18pt;
	padding: 15px;
	margin-right: 50px;

}
#goBack a
{
	text-decoration: none;
	color:black;
}
#goBack:hover
{
	background-color: lightblue;
}